* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: rgba(248, 74, 6, 0.925);
  background-size: auto 100vh; 
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 12px;
  color: black;
  text-align: center;
  }

@media (min-width: 400px) {
  body {
    font-size: 14px;
      }
  }

@media (min-width: 600px) {
    body {
      font-size: 16px;
        }
    }

@media (min-width: 1200px) {
    body {
      font-size: 20px;
        }
    }

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgb(129, 39, 3);
  position: fixed;
  width: 100vw;
  top: 0;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

@media (min-width: 400px) {
  .menu {
    font-size: 26px;
      }
  }

@media (min-width: 600px) {
  .menu {
    font-size: 28px;
      }
  }

@media (min-width: 1200px) {
  .menu {
    font-size: 30px;
      }
  }

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.site_title {
  color:rgba(22, 7, 7, 0.842);
  margin-bottom: 100px;
}

.texto {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}

@media (min-width: 400px) {
  .texto {
    font-size: 35px;
      }
  }

@media (min-width: 600px) {
  .texto {
    font-size: 40px;
      }
  }

@media (min-width: 1200px) {
  .texto {
    font-size: 45px;
      }
  }

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: burlywood;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
}


img {
  height: 90px;
  object-fit: cover;
  object-position: left bottom;
  width: 150px;
  margin-top: 1em;
  margin-bottom: 1em;
  object-fit: fill;
  border-radius: 15%;
}

@media (min-width: 400px) {
  img {
    height: 170px;
    width: 300px;
    }
  }

@media (min-width: 600px) {
  img {
    height: 230px;
    width: 400px;
    }
  }

@media (min-width: 1200px) {
  img {
    height: 320px;
    width: 550px;
    }
  }