* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background: red;
    background-size: auto 100vh;
    font-family: fantasy;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: blue;
    position: fixed;
    width: 100vw;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

.site_title {
    color: black;
    text-align: center;
    margin-bottom: 100px;
}

h1 {
    color: black;
    font-family: fantasy;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: burlywood;
}

img {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
    height: 200px;
}