* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: rgba(248, 74, 6, 0.925);
    background-size: auto 100vh; 
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 10 px;
    color: black;
    text-align: center;
    }

      /* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
      font-size: 12px;
        }
    }
  
  /* breakpoint */
@media (min-width: 600px) {
    body {
      font-size: 16px;
        }
    }
  
  /* breakpoint */
@media (min-width: 1200px) {
    body {
      font-size: 20px;
        }
    }

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(129, 39, 3);
    position: fixed;
    width: 100vw;
    top: 0;
    font-family: 'VT323', monospace;
    font-size: 1200px;
}

@media (min-width: 400px) {
  .menu {
    font-size: 18px;
      }
  }

@media (min-width: 600px) {
  .menu {
    font-size: 24px;
      }
  }

@media (min-width: 1200px) {
  .menu {
    font-size: 30px;
      }
  }

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

.site_title {
    color: black;
    text-align: center;
    margin-bottom: 100px;
}

.texto {
    font-family: 'Sacramento', cursive;
}

@media (min-width: 400px) {
  .texto {
    font-size: 24px;
      }
  }

@media (min-width: 600px) {
  .texto {
    font-size: 36px;
      }
  }

@media (min-width: 1200px) {
  .texto {
    font-size: 40px;
      }
  }

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: burlywood;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

img {
    height: 90px;
    object-fit: cover;
    object-position: left bottom;
    width: 150px;
    margin-bottom: 1em;
    margin-top: 1em;
}

@media (min-width: 400px) {
  img {
    height: 170px;
    width: 300px;
    }
  }

@media (min-width: 600px) {
  img {
    height: 230px;
    width: 400px;
    }
  }

@media (min-width: 1200px) {
  img {
    height: 320px;
    width: 550px;
    }
  }