* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: rgba(248, 74, 6, 0.925);
    background-size: auto 100vh; 
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 15px;
    color: black;
    font-family: fantasy;
    text-align: center;
    }

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(129, 39, 3);
    position: fixed;
    width: 100vw;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 10px 30px;
}

.site_title {
    color: black;
    text-align: center;
    margin-bottom: 100px;
}

a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: burlywood;
}

img {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
    height: 200px;
}