* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: rgba(248, 74, 6, 0.925);
  background-size: auto 100vh; 
  height: 100vh;
  font-size: 12px;
  color: black;
  text-align: center;
  font-family: 'Nova Oval', cursive;
  }

@media (min-width: 400px) {
  body {
    font-size: 14px;
      }
  }

@media (min-width: 600px) {
    body {
      font-size: 16px;
        }
    }

@media (min-width: 1200px) {
    body {
      font-size: 20px;
        }
    }

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgb(129, 39, 3);
  position: fixed;
  width: 100vw;
  top: 0;
  font-size: 20px;
  z-index: 1;
}

@media (min-width: 400px) {
  .menu {
    font-size: 26px;
      }
  }

@media (min-width: 600px) {
  .menu {
    font-size: 28px;
      }
  }

@media (min-width: 1200px) {
  .menu {
    font-size: 50px;
      }
  }

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background-color 1s, color 2s;
}

.menu a:active,
.menu a:hover {
  text-decoration: underline;
  color: burlywood;
  background-color: black;
}

.site-title {
  color:rgba(22, 7, 7, 0.842);
  margin-bottom: 100px;
}

.site-title h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
}

@media (min-width: 400px) {
  .site-title h1 {
    font-size: 50px;
      }
  }

@media (min-width: 600px) {
  .site-title h1 {
    font-size: 55px;
      }
  }

@media (min-width: 1200px) {
  .site-title h1 {
    font-size: 60px;
      }
  }

.texto {
  font-family: 'Henny Penny', cursive;
  font-size: 25px;
}

@media (min-width: 400px) {
  .texto {
    font-size: 30px;
      }
  }

@media (min-width: 600px) {
  .texto {
    font-size: 35px;
      }
  }

@media (min-width: 1200px) {
  .texto {
    font-size: 40px;
      }
  }

.cont i {
  color: black;
  font-size: 3em;
  transition: text-shadow 1s;
}

.cont i:active,
.cont i:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px whitesmoke;
}

img {
  height: 90px;
  object-fit: cover;
  object-position: left bottom;
  width: 150px;
  margin-top: 1em;
  margin-bottom: 1em;
  object-fit: fill;
  border-radius: 15%;
  transition: transform 1s;
}

img:hover {
  transform: scale(1.1);
}

@media (min-width: 400px) {
  img {
    height: 170px;
    width: 300px;
    }
  }

@media (min-width: 600px) {
  img {
    height: 230px;
    width: 400px;
    }
  }

@media (min-width: 1200px) {
  img {
    height: 320px;
    width: 550px;
    }
  }

h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  }

p {
  margin-top: 1em;
  margin-bottom: 1em;
}